Options +FollowSymlinks
#Options All -Indexes
<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>
RewriteEngine on
RewriteRule ^home/user/login$ controller/account/account.login.php
RewriteRule ^home/$ view/main.php
RewriteRule ^user/grade$ view/grading.php
RewriteRule ^hinh-anh/([a-zA-Z0-9]+).jpg$ upload/$1.jpg
#RewriteRule ^view/([a-zA-Z]+)-([a-zA-Z]+)$ view/$1.$2.php
#RewriteRule ^([a-zA-Z]+)-([a-zA-Z]+)$ view/$1.$2.php
#ErrorDocument 404