<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bootstrap/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="img/logo.gif">
</head>
<body>
<div class="banner container-fluid">
    <div class="col-sm-2 logo">
        <img src="img/logo.gif" width="90" alt="">
    </div>
    <div class="banner-title col-sm-10">
        <h4><strong>TRƯỜNG ĐẠI HỌC CẦN THƠ</strong></h4>
        <p><strong>Hệ thống chấm điểm rèn luyện</strong></p>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="col-sm-5 div-login">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <span class="panel-title"><strong>Đăng nhập</strong></span>
            </div>
            <div class="panel-body">
                <form action="">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input name="username" placeholder="Tên đăng nhập" class="form-control">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="password" name="password" placeholder="Mật khẩu" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">

                            <span class="input-group-addon">
                            <i class=" glyphicon glyphicon-eye-open"></i>
                        </span>
                                <input name="captchar" placeholder="Mã xác nhận" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input value="fdsafds" readonly class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <a href="main.html" class="btn btn-primary">Đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-7 div-news">
        <div class="news-header text-center">
            <span><strong>Tin tức</strong></span>
        </div>
        <div class="news-body">
            <div class="alert alert-success">
                22/12/2018 - Đã mở đợt chấm điểm rèn luyện
            </div>
            <div class="alert alert-warning">
                22/12/2018 - Đã mở đợt chấm điểm rèn luyện
            </div>
        </div>
    </div>
</div>
</body>
</html>