<html>

<head>
  <meta charset="UTF-8">
  <title>Phan quyen</title>
  <link rel="icon" href="https://raw.githubusercontent.com/leminhluan4244/Diemrenluyen/master/D%E1%BB%B1%20%C3%A1n/Web%20Project/StaticUI/img/logo.gif">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="banner container-fluid">
    <div class="col-sm-2 logo">
      <img src="https://raw.githubusercontent.com/leminhluan4244/Diemrenluyen/master/D%E1%BB%B1%20%C3%A1n/Web%20Project/StaticUI/img/logo.gif" width="70" alt="">
    </div>
    <div class="banner-title col-sm-8">
      <h4><strong>TRƯỜNG ĐẠI HỌC CẦN THƠ</strong></h4>
      <p><strong>Hệ thống chấm điểm rèn luyện</strong></p>
    </div>
    <div class="banner-action col-sm-2 text-right">
      <a href="main.html" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-home"></span> Trang chủ</a>
      <a href="index.html" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a>
    </div>
  </div>
  <br>
  <div class="container main-academy-container">
    <div class="academy-action-menu btn-group">
        <a href="list-type-of-account.html" id="unknow-1" class="btn btn-primary">Hiển thị danh sách các phân quyền</a>
        <a href="add-a-type-of-account.html" id="unknow-2" class="btn btn-primary">Thêm phân quyền mới</a>
        <a href="update-type-of-account.html" id="unknow-3" class="btn btn-primary">Sửa phân quyền</a>
        <a href="delete-type-of-account.html" id="unknow-4" class="btn btn-primary active">Xóa phân quyền</a>
    </div>
    <br /><br />
    <form action="detail-delete.html">
  <div class="academy-action-list text-center">
      <h4>Chọn theo Khoa để xóa một phân quyền</h4>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <select class="thumbnail center-block" name="" id="">
    <option value="">Khoa Công Nghệ</option><option value="">Khoa CNTT - TT</option><option value="">Khoa Kinh Tế</option></select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="academy-action-menu">
            <button type="submit" value="" id="" class="center-block btn btn-primary">Chọn</button>
          </div>
        </div>
      </div>
  </div>
</form>
  </div>
  <footer class="container-fluid text-center">
    Trường Đại học Cần Thơ <br> Nhóm nghiên cứu khoa học
  </footer>
</body>

</html>
