<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bootstrap/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="img/logo.gif">
</head>
<body>
<div class="banner container-fluid">
    <div class="col-sm-2 logo">
        <img src="img/logo.gif" width="70" alt="">
    </div>
    <div class="banner-title col-sm-8">
        <h4><strong>TRƯỜNG ĐẠI HỌC CẦN THƠ</strong></h4>
        <p><strong>Hệ thống chấm điểm rèn luyện</strong></p>
    </div>
    <div class="banner-action col-sm-2 text-right">
        <a href="main.html" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-home"></span> Trang chủ</a>
        <a href="index.html" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a>
    </div>
</div>
<br>
<div class="container main-container">
    <div class="col-sm-5 div-user-info">
        <table class="table">
            <thead>
            <tr><th colspan="2" class="text-center">Thông tin người dùng <a href="#user-info" data-toggle="collapse" class="close">&raquo;</a></th></tr>
            </thead>
            <tbody id="user-info">
            <tr><td>Mã SV/CB</td><td>123</td></tr>
            <tr><td>Họ tên</td><td>NVA</td></tr>
            <tr><td>Ngày sinh</td><td>01/09/1111</td></tr>
            <tr><td>Giới tính</td><td>Nam</td></tr>
            <tr><td>Nơi công tác</td><td>Khoa CNTT &amp; TT</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-7 div-action">
        <div class="row text-center" id="user-action">
            <h5><strong>Các hành động</strong></h5>
            <div class="col-sm-offset-2 col-sm-4 thumbnail">
                <a href="student_man.html" class="">
                    <img src="img/student.png" width="70" alt="">
                    <p>Quản lý sinh viên</p>
                </a>
            </div>
            <div class="col-sm-offset-2 col-sm-4 thumbnail">
                <a href="academy_man.html" class="">
                    <img src="img/academy.png" width="70" alt="">
                    <p>Quản lý khoa/viện</p>
                </a>
            </div>
            <div class="col-sm-offset-2 col-sm-4 thumbnail">
                <a href="quanly_canbo.html" class="">
                    <img src="img/staff.png" width="70" alt="">
                    <p>Quản lý cán bộ</p>
                </a>
            </div>
            <div class="col-sm-offset-2 col-sm-4 thumbnail">
                <a href="quanly_chihoi.html" class="">
                    <img src="img/branch.png" width="70" alt="">
                    <p>Quản lý chi hội</p>
                </a>
            </div>
            <div class="col-sm-offset-2 col-sm-4 thumbnail">
                <a href="" class="">
                    <img src="img/permission-setting.png" width="70" alt="">
                    <p>Quản lý phân quyền</p>
                </a>
            </div>
            <div class="col-sm-offset-2 col-sm-4 thumbnail">
                <a href="" class="">
                    <img src="img/permission.png" width="70" alt="">
                    <p>Phân quyền</p>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="js/common.js"></script>
</body>
</html>