<html>

<head>
  <meta charset="UTF-8">
  <title>Phan quyen</title>
  <link rel="icon" href="https://raw.githubusercontent.com/leminhluan4244/Diemrenluyen/master/D%E1%BB%B1%20%C3%A1n/Web%20Project/StaticUI/img/logo.gif">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="banner container-fluid">
    <div class="col-sm-2 logo">
      <img src="https://raw.githubusercontent.com/leminhluan4244/Diemrenluyen/master/D%E1%BB%B1%20%C3%A1n/Web%20Project/StaticUI/img/logo.gif" width="70" alt="">
    </div>
    <div class="banner-title col-sm-8">
      <h4><strong>TRƯỜNG ĐẠI HỌC CẦN THƠ</strong></h4>
      <p><strong>Hệ thống chấm điểm rèn luyện</strong></p>
    </div>
    <div class="banner-action col-sm-2 text-right">
      <a href="main.html" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-home"></span> Trang chủ</a>
      <a href="index.html" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a>
    </div>
  </div>
  <br>
  <div class="container main-academy-container">
    <div class="academy-action-menu btn-group">
        <a href="quan-ly-phan-quyen.html" id="unknow-3" class="btn btn-primary active">Cài đặt phân quyền theo nhóm người dùng</a>
    </div>
    <br /><br />
    <form action="quan-ly-phan-quyen.html">
  <div class="academy-action-list">
      <h4>Chọn nhóm người dùng trong hệ thống</h4>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <select style="width: 500px" class="thumbnail" name="">
      <option value="">Cố Vấn học tập</option><option value="">Quản lý khoa</option><option value="">Quản lý chi hội</option><option value="">Sinh viên</option></select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">

          <table>
            <tr>
              <th>
                <h3>Nhóm quyền Cá nhân</h3>
              </th>
            </tr>
            <tr>
              <td>
          <label><input type="checkbox" value="">&nbsp; Chấm điểm rèn luyện cá nhân sinh viên</label>
              </td>
            </tr>
          </table>

        </div>
        <div class="col-sm-3">
          <table>
            <tr>
              <th>
                <h3>Nhóm quyền theo Lớp</h3>
              </th>
            </tr>
            <tr>
              <td>
          <label><input type="checkbox" value="">&nbsp;Chấm điểm cho một Lớp</label>
              </td>
            </tr>
            <tr>
              <td>
          <label><input type="checkbox" value="">&nbsp;Thêm bảng điểm cộng trừ cho lớp</label>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
              <th>
                <h3>Nhóm quyền theo Khoa</h3>
              </th>
            </tr>
            <tr>
              <td>
          <label><input type="checkbox" value="">&nbsp;Chấm điểm rèn luyện cho cả khoa</label>
              </td>
            </tr>
            <tr>
              <td>
          <label><input type="checkbox" value="">&nbsp;Thêm bảng điểm cộng trừ cho khoa</label>
              </td>
            </tr>

          </table>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
              <th>
                <h3>Nhóm quyền theo theo chi hội</h3>
              </th>
            </tr>
            <tr>
              <td>
          <label><input type="checkbox" value="">&nbsp;Thêm bảng điểm cộng trừ cho sinh viên theo chi hội</label>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <br />
          <div class="form-group text-right">
            <button type="submit" class="center-block btn btn-success">
                          <span class="glyphicon glyphicon-ok"></span>Lưu lại
                      </button>
          </div>
  </div></form>

  <footer class="container-fluid text-center">
    Trường Đại học Cần Thơ <br> Nhóm nghiên cứu khoa học
  </footer>
</body>

</html>
