<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Sinh viêṇ</title>
    <script src="bootstrap/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="img/logo.gif">
</head>

<body>

<!--Start All body-->
<div class="banner container-fluid">
<!---------------------------------------------------------------------------------------------------->
    <!--Start Logo-->
    <div class="col-sm-2 logo">
        <img src="img/logo.gif" width="70" alt="">
    </div>
    <!--End Logo-->
<!---------------------------------------------------------------------------------------------------->
    <!--Start Name-->
    <div class="banner-title col-sm-8">
        <h4><strong>TRƯỜNG ĐẠI HỌC CẦN THƠ</strong></h4>
        <p><strong>Hệ thống chấm điểm rèn luyện</strong></p>
    </div>
    <!--End Name-->
<!---------------------------------------------------------------------------------------------------->
    <!--Start button top right-->
    <div class="banner-action col-sm-2 text-right">
        <a href="main.html" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-home"></span> Trang chủ</a>
        <a href="index.html" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a>
    </div>
</div>
    <!--End button top right-->

<!----------------------------------------------2nd--------------------------------------------->


<div class="container-fluid">
    <!--Start content manage student-->
    <div class="container main-academy-container">
        <div class="academy-action-list text-center">

            <h4>Danh sách sinh viên</h4>
            <div class="form-group">
                <form action="" method="post">

                    <!-------------------------------------------->

                    <!--Start combobox academy for student-->
                    <div class="col-sm-4">
                        <select name="academy"  class="form-control">
                            <option value="Công nghệ thông tin và truyền thông">Công nghệ thông tin và truyền thông
                            </option>
                            <option value="Thủy sản">Thủy sản</option>
                            <option value="Môi trường">Môi trường</option>
                            <option value="Công nghệ">Công nghệ</option>
                        </select>
                    </div>
                    <!--End combobox academy for student-->

                    <!-------------------------------------------->
                    <!--Start combobox class for student-->
                    <div class="col-sm-4">
                        <select name="class" class="form-control">
                            <option value="Công nghệ thông tin và truyền thông">Kỹ thuật phần mềm 1 K40
                            </option>
                            <option value="Thủy sản">Kỹ thuật phần mềm 2 K40</option>
                            <option value="Môi trường">Kỹ thuật phần mềm 3 K40</option>
                            <option value="Công nghệ">Công nghệ thông tin 1 K40̣</option>
                        </select>
                    </div>
                    <!--End combobox class for student-->

                    <!-------------------------------------------->
                    <!--Start buttun filter-->
                    <input type="submit" value="Lọc" class="btn btn-primary col-sm-1">
                    <!--End buttun filter-->
                </form>
                <br>
                <br>
            </div>
            <!--End filter table-->
            <div class="">

                <!--Start list student-->
                <table class="table table-bordered table-condensed">

                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>MSSV</th>
                        <th>Họ và tên</th>
                        <th>Chọn</th>
                    </tr>
                    </thead>



                    <tbody class="text-center align-self-center">
                    <tr>
                        <td>1</td>
                        <td>
                            <a href="#">
                                SV001
                            </a>
                        </td>
                        <td>
                            <a href="#">
                            Lê Minh Luân
                            </a>
                        </td>
                        <td>
                            <input type="checkbox" name="idAccount" value="idAccount">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SV002</td>
                        <td>Huỳnh Hoàng Thơ</td>
                        <td>
                            <input type="checkbox" name="idAccount" value="idAccount">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SV003</td>
                        <td>Đoàn Minh Nhựt</td>
                        <td>
                            <input type="checkbox" name="idAccount" value="idAccount">
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>SV004</td>
                        <td>Nguyễn Tấn Phát</td>
                        <td>
                            <input type="checkbox" name="idAccount" value="idAccount">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--End list student>

                <!--Start student add button-->
                <form action="" class="form-inline">
                                <a class="btn btn-primary col align-self-center " data-toggle="modal" data-target="#addStudent">
                                    <span class="glyphicon glyphicon-plus"></span> Thêm mới sinh viên
                                </a>
                                <a class="btn btn-warning col align-self-center " data-toggle="modal" data-target="#updateStudent">
                                    <span class="glyphicon glyphicon-pencil"></span> Sửa đổi
                                </a>
                                <a class="btn btn-danger col align-self-center " data-toggle="modal" data-target="#deleteStudent">
                                    <span class="glyphicon glyphicon-trash"></span> Xóa
                                </a>
                </form>
                <!-- End student add button-->
                <!-- Start add student-->
                <div id="addStudent" class="modal fade " tabindex="-1" role="dialog" aria-labelledby aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Thêm mới sinh viên</h4>
                            </div>
                            <div class="modal-body ">
                                <form action="#" method="post">

                                    <fieldset class="form-group">
                                        <p class="text-left "><b>Họ và Tên</b></p>
                                        <input type="text" class="form-control" name="addAccountName" id="addAccountName"
                                               placeholder="Nhập tên sinh viên">

                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>MSSV</b></p>
                                        <input type="text" class="form-control" name="addIdAccount" id="addIdAccount"
                                               placeholder="Nhập mã số sinh viên">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Ngày Sinh</b></p>
                                        <input type="date" class="form-control" name="addBirthday" id="addBirthday"
                                               placeholder="Ngày Sinh">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Địa chỉ</b></p>
                                        <input type="text" class="form-control" name="addAddress" id="addAddress"
                                               placeholder="Ngày Sinh">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Giới tính</b></p>
                                        <select class="form-control" name="addSex" id="addSex">
                                            <option value="male">Nam</option>
                                            <option value="female">Nữ</option>
                                        </select>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Điện thoại</b></p>
                                        <input type="number" class="form-control" name="addPhone" id="addPhone"
                                               placeholder="Nhập số điện thoại">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Email</b></p>
                                        <input type="mail" class="form-control" name="addEmail" id="addEmail"
                                               placeholder="Nhập email" value="@student.ctu.edu.vn">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Khoa - Viện</b></p>
                                        <select class="form-control" name="addAcademyName" id="addAcademyName">
                                            <option value="DI">Công nghệ thông tin và
                                                truyền thông
                                            </option>
                                            <option value="TS">Thủy sản</option>
                                            <option value="MT">Môi trường</option>
                                            <option value="CṆ">Công nghệ</option>
                                        </select>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Lớp</b></p>
                                        <select class="form-control" name="addClassNamer" id="addClassName">
                                            <option value="DI1496A1">KTPM1 K40</option>
                                            <option value="DI1496A1">KTPM2 K40</option>
                                            <option value="DI1496A1">KTPM3 K40</option>
                                        </select>
                                    </fieldset>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-primary" name="btnAdd">Thêm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End add student-->

                <!-- Start update student-->
                <div id="updateStudent" class="modal fade " tabindex="-1" role="dialog" aria-labelledby aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Cập nhật sinh viên</h4>
                            </div>
                            <div class="modal-body ">
                                <form action="#" method="post">

                                    <fieldset class="form-group">
                                        <p class="text-left "><b>Họ và Tên</b></p>
                                        <input type="text" class="form-control" name="updateAccountName" id="updateAccountName"
                                               placeholder="Nhập tên sinh viên">

                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>MSSV</b></p>
                                        <p class="text-left form-control"><b>MSSV</b></p>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Ngày Sinh</b></p>
                                        <input type="date" class="form-control" name="updateBirthday" id="updateBirthday"
                                               placeholder="Ngày Sinh">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Địa chỉ</b></p>
                                        <input type="text" class="form-control" name="updateAddress" id="updateAddress"
                                               placeholder="Ngày Sinh">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Giới tính</b></p>
                                        <select class="form-control" name=updateSex" id="updateSex">
                                            <option value="male">Nam</option>
                                            <option value="female">Nữ</option>
                                        </select>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Điện thoại</b></p>
                                        <input type="number" class="form-control" name="updatePhone" id="updatePhone"
                                               placeholder="Nhập số điện thoại">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Email</b></p>
                                        <input type="mail" class="form-control" name="updateEmail" id="updateEmail"
                                               placeholder="Nhập email" value="@student.ctu.edu.vn">
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Khoa - Viện</b></p>
                                        <select class="form-control" name="updateAcademyName" id="updateAcademyName">
                                            <option value="DI">Công nghệ thông tin và
                                                truyền thông
                                            </option>
                                            <option value="TS">Thủy sản</option>
                                            <option value="MT">Môi trường</option>
                                            <option value="CṆ">Công nghệ</option>
                                        </select>
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <p class="text-left"><b>Lớp</b></p>
                                        <select class="form-control" name="updateClassNamer" id="UpdateclassName">
                                            <option value="DI1496A1">KTPM1 K40</option>
                                            <option value="DI1496A1">KTPM2 K40</option>
                                            <option value="DI1496A1">KTPM3 K40</option>
                                        </select>
                                    </fieldset>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-warning" name="btnAdd">Sửa</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End add student-->

                <!--Start delete student-->
                <div id="deleteStudent" class="modal fade " tabindex="-1" role="dialog" aria-labelledby aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="">Xóa thành viên!</h4>
                            </div>
                            <div class="modal-body">
                                <h4>Hành động này cần xác nhận: Không thể hoàn tác!</h4>
                                <p>Vui lòng kiểm tra cẩn thận!</p>
                                <form action="#" method="post">
                                    <div class="modal-footer">
                                        <input type="hidden" name="deleteStudent" id="delete">
                                        <button type="submit" name="deleteYes" class="btn btn-danger">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End delete student-->
            </div>

        </div>
    </div>
    <!--End content manage student-->
</div>


<!---------------------------------------------------------------------------------------------->
<!--Start footer-->
<div class="container-fluid ">
    <footer class="footer text-center">
        Trường Đại học Cần Thơ <br> Nhóm nghiên cứu khoa học
    </footer>
</div>
<!--End footer-->
<script src="js/common.js"></script>
<script src="js/academy_action.js"></script>
<!--End all body-->
</body>

</html>
