<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bootstrap/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="img/logo.gif">
</head>

<body>
    <div class="banner container-fluid">
        <div class="col-sm-2 logo">
            <img src="img/logo.gif" width="70" alt="">
        </div>
        <div class="banner-title col-sm-8">
            <h4><strong>TRƯỜNG ĐẠI HỌC CẦN THƠ</strong></h4>
            <p><strong>Hệ thống chấm điểm rèn luyện</strong></p>
        </div>
        <div class="banner-action col-sm-2 text-right">
            <a href="main.html" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-home"></span> Trang chủ</a>
            <a href="index.html" class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a>
        </div>
    </div>
    <br>
    <div class="container main-academy-container">
        <div class="academy-action-list text-center">
            <h4>Nhập thông tin sinh viên</h4>
            <hr>
            <div class="">
                <form action="">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input name="username" placeholder="Mã số sinh viên" class="form-control">
                    </div>
                    <!--MSSV-->
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="password" name="password" placeholder="Họ và tên" class="form-control">
                    </div>
                    <!--Họ tên-->
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <div class="col-sm-2">
                             <input type=text name="day" placeholder="Ngày sinh" class="form-control ">
                        </div>
                        <div class="col-sm-2">
                            <input type=text name="month" placeholder="Tháng sinh" class="form-control col-sm-2">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="year" placeholder="Năm sinh" class="form-control col-sm-2">
                        </div>                        
                    </div> <!--ngay thang nam sinh-->
                    
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-cd"></i>
                        </span>
                        <div class="dropdown text-left">
                            <div class="col-sm-2">
                                <select name="gioiTinh" id="" class="form-control">
                        <option value="DI1496A1">Nam</option>
                        <option value="DI1496A2">Nữ</option>
                        <option value="Di1495A1">Khác</option>
                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-phone-alt"></i>
                        </span>
                        <input type="text" name="sdt" placeholder="Số điện thoại" class="form-control">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="text" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-briefcase"></i>
                        </span>
                        <div class="col-sm-4">
                    <select name="chucVu" id="" class="form-control">
                        <option value="chucVu">Chức vụ</option>
                        <option value="student">Sinh viên</option>
                        <option value="teacher">Cán bộ</option>
                    </select>
                </div>
                    </div> <!-- Chức vụ -->
                    
                    <div class="form-group">
               
                  <div class="col-sm-4">
                    <select name="kv" id="" class="form-control">
                       <option value="Chọn khoa viện">Chọn khoa - viện</option>
                        <option value="Công nghệ thông tin và truyền thông">Công nghệ thông tin và truyền thông</option>
                        <option value="Thủy sản">Thủy sản</option>
                        <option value="Môi trường">Môi trường</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select name="class" id="" class="form-control">
                        <option value="DI1496A1">DI1496A1</option>
                        <option value="DI1496A2">DI1496A2</option>
                        <option value="Di1495A1">Di1495A1</option>
                    </select>
                </div>
              
            </div> <!--Bang trich loc-->

                    <br>
                    <br>
            <div class="row text-center col-sm-12">
                        <a href="manage_student.html" class="btn btn-primary">Thêm</a>
                        <input type="reset" class="btn btn-primary" value="Hủy" />
            </div>
                </form>


            </div>
        </div>

    </div>
    <script src="js/common.js"></script>
    <script src="js/academy_action.js"></script>
    <br>
    <footer class="container-fluid text-center">
        Trường Đại học Cần Thơ <br> Nhóm nghiên cứu khoa học
    </footer>
</body>

</html>
